{% extends 'base.html' %} {% load static %} {% block head %}
<title>Description | PIP APP</title>
<link rel="stylesheet" href="{% static '/css/description.css'%}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
/>
{% endblock %} {% block body %}
    
   <div class="main-container">
 
  <span class="align-bottom">
    {% for a,b,c in data %}
    <div
      class="container-md align-content-center border border-dark border-rounded m-5 mw-99"
    >
      <div class="card card-body border-0 mh-100">
        <div class="d-flex align-items-start">
          <img
            id="profile-pic"
            src="/static/images/invest_main.jpg"
            alt="test"
          />
          <div class="container-md">
            <h3 class="text-primary">{{ c }}</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="font-weight:bold;">Predicted Revenue of next day : {{ b }}</li>
              <li class="list-group-item" style="font-weight:bold;">Predicted Close value of next Day: {{ a }}</li>
            </ul>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
   
  </span>
</div>
{% endblock %}
