{% extends 'base.html' %}
{% block head %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
/>
<link rel="stylesheet" href="../static/css/home.css">
<title>Home | PIP APP</title>

{% endblock %} {% block body %}
<div class="container"> 
  <img src = "../static/images/invest_main.jpg">
  <div class="centered"> 
    <h1> PIP </h1>
    <h3> Personalised Investment Portfolio </h3>
    <q> I will tell you how to become rich. Close the doors. Be fearful when others are greedy. Be greedy when others are fearful. </q>
    <br>
    <cite style="right:0">- Warren Buffet </cite>

  </div>
</img>
</div>
<div class="card-container d-flex">
  <div class="card bg-dark text-light" style="width:20rem; margin-left:10rem; margin-right:10rem; margin-top:2rem; margin-bottom:2rem;">
    <div class="card-body">
      <h5 class="card-title text-primary">Stock Markets</h5>
      <p class="card-text">Stock markets are venues where buyers and sellers meet to exchange equity shares of public corporations.Stock markets create efficient price discovery and efficient dealing.</p>
      <button type="button" class="btn border border-rounded pl-5 pr-5 bg-primary"> <a href="description" class="card-link text-light">Predicted Stocks</a> </button>
    </div>
  </div>
  


  <div class="card bg-dark text-light" style="width: 20rem; margin-left:10rem; margin-right:10rem; margin-top:2rem; margin-bottom:2rem;;">
    <div class="card-body">
      <h5 class="card-title text-primary">Mutual Funds</h5>
      <p class="card-text">Mutual funds let you pool your money with other investors to "mutually" buy stocks, bonds, and other investments. They're run by professional money managers who decide which securities to buy (stocks, bonds, etc.) and when to sell them. </p>
      <button type="button" class="btn border border-rounded pl-5 pr-5 bg-primary"> <a href="mutual" class="card-link text-light">Mutual interests</a> </button>
    </div>
  </div>

</div>


{% comment %} <div class="graph">
  <canva id="myChart1" style="width:100%;max-width:700px;"> </canva>
</div>


  <script>
    new Chart("myChart1", {
      type: "line",
      data: {
        labels: "",
        datasets: [{
          backgroundColor: "rgba(0,0,0,1.0)",
          borderColor: "rgba(0,0,0,0.1)",
          data: ret[0]
        }]
      },
    });

    new Chart("myChart2", {
      type: "line",
      data: {
        labels: "",
        datasets: [{
          backgroundColor: "rgba(0,0,0,1.0)",
          borderColor: "rgba(0,0,0,0.1)",
          data: ret[1]
        }]
      },
    });

    new Chart("myChart3", {
      type: "line",
      data: {
        labels: "",
        datasets: [{
          backgroundColor: "rgba(0,0,0,1.0)",
          borderColor: "rgba(0,0,0,0.1)",
          data: ret[2]
        }]
      },
    });

    new Chart("myChart4", {
      type: "line",
      data: {
        labels: "",
        datasets: [{
          backgroundColor: "rgba(0,0,0,1.0)",
          borderColor: "rgba(0,0,0,0.1)",
          data: ret[3]
        }]
      },
    });
  </script> {% endcomment %}
  


{% endblock %}

